<!DOCTYPE html>
<html>

    <head>
        <title>Django Central</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />
        <link rel="stylesheet" href="{% static "css/style"}"
    </head>

    <body>
        <style>
            body {
            font-family: "Roboto", sans-serif;
            font-size: 17px;
            background-color: #fdfdfd;
        }
        .shadow {
            box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
        }
        .btn-danger {
            color: #fff;
            background-color: #f00000;
            border-color: #dc281e;
        }
        .masthead {
            background: #3398E1;
            height: auto;
            padding-bottom: 15px;
            box-shadow: 0 16px 48px #E3E7EB;
            padding-top: 10px;
        }
    </style>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow" id="mainNav">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'b1' %}">Django central</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="#">About</a>
                        </li>
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="#">Policy</a>
                        </li>
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <hr>
        {% for j in b%}
        <h2 style="text-align:center;">Hello! {{j.First_name}} WELCOME TO YOUR PORTAL<h2>
        {% endfor %}
        <br>
        <h1 style="text-align:center;">LATEST NEWS </h1>
        {% for i in a %}
        <table border="2"  style="margin-left:200px ;margin-right:200px ;">
          <tr>
              <td>
               <br>
              <h2 style="margin-left:500px; color:red; text-decoration:underline;">{{i.title}}</h2><br>
              <img style="margin-left:20px;margin-right:20px;" src="{{i.get_profile_picture}}" alt="not found" width="1000" height="200"><br>
              {{i.slug}}<br>
              {{i.content}}<br>
              {{i.stutus}}<br>
              {{i.created_on}}<br>

              <a href="https://djangocentral.com/building-a-blog-application-with-django/">readmore</a>

            </td>
          </tr>
          </table>
            <br>
            {% endfor %}


        <div class="one" style="float:50">
          <div class="column" >
               <h1>dddddddddddd<h1>
          </div>
          <div class="column" >
               <h1>dddddddddddd<h1>
          </div>
        </div>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
        <!-- Footer -->
        <footer class="py-3 bg-grey">
            <p class="m-0 text-dark text-center ">Copyright &copy; Django Central</p>
        </footer>
    </body>
</html>
