body
{
   background-color:#ffe6e6;
}
footer
{  background-color: BurlyWood;}

header
{
   background-color: BurlyWood; }

.column{
    float:right;
    width:10% ;
    /*border: 2px solid black;*/
    font-size:10px;
    text-decoration:none;
    opacity:80%
}

p {text-align: justify;
   margin-left: 20px;}
h1 {color :Chocolate;
   text-decoration:underline;
    text-decoration-color:green; }

.logo
{
   float:left;
   width:50% ;
}
button{
  float:left;
  font-size: 20px;
  margin-top:7px;
}
.nav:after
{

   width=100% ;
  display: table;
  border: 2px solid black;
  clear: both;
}

#header {
   margin-left:200px;
   width:100%;
}

.column2{
    float:left;
    width:25% ;
    /*border: 2px solid black;*/
    font-size:25px;
    opacity:80%
}

.nav2:after
{

   width=100% ;
  display: table;
  border: 2px solid black;
  clear: both;
  decoration:none
}
column3{
    float:left;
    width:50% ;
    /*border: 2px solid black;*/
    font-size:20px;
    decoration: none;
    margin-left: auto;
}

.nav3:after
{

   width=100% ;
  display: table;
  border: 2px solid black;
  clear: both;
  decoration:none
}
