{% extends 'home_user.html' %}
{% load static %}
{% block content %}
<html>
<body>
<hr width="100%" color="red" >
<img src="{% static "images/front3.jpg" %}" alt="nature" width="1507" height="400">
<br>
<h1 style="text-align:center">WELCOME TO FRESHFOOD</h1>
<br>
<div class="nav2">
    <div class="column2">
      <a href="https://www.zomato.com/burger-restaurants-near-me">  <img src="{% static "images/map.jpg" %}" width="100%"></a>
    </div>
    <div class="column2">
     <h2>FRESH FOOD</h2>
     <p>2nd main ,3rd cross</p>
     <p> Vijayanagar ,bangalore </p>

    </div>

</div>


</body>
{% endblock %}