{% load static %}
<html>
<style>
body{background-image: url({% static 'images/bg.jpg' %});}
h1{text-decoration:underline;
text-align: center;}
form
{margin-left:500px;
  margin-top:100px;
  width: px;
  padding: 30px;
  border: 5px solid white;
  background-color:white;
}
input{font-size:20px;}

</style>

<h1>Registration page </h1>
<form action='' method='post'>
  {% csrf_token %}
  <h4>Username :</h4>
  <input type=text name='username' placeholder='username'><br><br>
  <h4>Firstname :</h4>
  <input type=text name='Firstname' placeholder='Firstname'>
  <h4>Lastname :</h4>
  <input type=text name='Lastname' placeholder='Lastname'><br><br>
  <h4>Email :</h4>
  <input type=email name='Email' placeholder='email'><br><br>
  <h4>Password :</h4>
  <input type=password name='Password' placeholder='Password'>
  <h4>Confirm_password :</h4>
<input type=password name='confirm_password' placeholder='confirm_password'><br><br>
  <input type="submit" value="submit">

</form>

</body>
</html>
